/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1345px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 80px;
}

.header {
  max-width: 100%;
}
.header__logo {
  width: 203px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
.header__all-link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.header__menu-box-items + .header__menu-box-items {
  margin-left: 32px;
}
.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__all-link:hover {
  background-color: #333D4B;
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.header__all-link:active {
  background-color: #FDD6BA;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hero {
  margin-top: 115px;
}
.hero__container {
  background-image: url("../img/hero-bgimage.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 60%;
}
.hero__all-text {
  max-width: 445px;
  margin-top: 100px;
  margin-left: 85px;
  margin-bottom: 137px;
}
.hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.commitment__container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.commitment__img-box {
  max-width: 509px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.commitment__all-text {
  max-width: 540px;
}
.commitment__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}
.commitment__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
  margin-top: 32px;
}/*# sourceMappingURL=main.css.map */