.footer {
  background-color: #2C343E;

  &__container {
    margin-top: 150px;
    padding: 40px;
    display: flex;
    align-items: center;
  }

  &__menu-box {
    display: flex;
  }

  &__company-box {
    display: flex;
  }

  &__text+&__text {
    margin-left: 32px;
  }

  &__company+&__company {
    margin-left: 32px;
  }

  &__link {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    padding: 7px 10px;
    border-radius: 7px;
  }

  &__company-box {
    margin-left: auto;
  }

  &__menu-box {
    margin-left: 100px;
  }

  &__link:hover {
    background-color: #fff;
    color: #2C343E;
    transition-duration: 1s;
  }

  &__link:active {
    background-color: #FDD6BA;
    color: #fff;
    transition-duration: 0.5s;
  }




}